<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Marks</title>
    <link th:href="@{/marks-stylesheet.css}"rel="stylesheet" >
  </head>
  <body>

    <div class="topnav">
      <a>Form</a>
      <a>Marks</a>
    </div>

    <div class= "container">
      <h2 > Marks </h2>
      <table id="table"> 
        <tr>
          <th>Student</th>
          <th>Subject</th>
          <th>Score %</th>
        </tr>
        <tr th:each = "mark: ${marks}">
          <td th:text="${mark.name}"></td>
          <td th:text="${mark.Subject}"></td>
          <td th:text="${mark.score}"></td>
          <td><a role="button" class="update" th:href="@{/(name = ${mark.name})}">Update</a></td>
        </tr>
      </table>
    </div>
    
  </body>
</html>