<!DOCTYPE html>

<html xmlns="www.thymleaf.">
    <head>
        
        <title>Sales</title>
        
    </head>
    <body>
       <h2>Sales Records</h2>
       <table>
        <tr>
            <td>Item</td>
            <td>Revenue</td>
            <td>Cost</td>
            <td>Profit</td>
        </tr>
        <tr th:each="record : ${records}">
            <td th:text="${record.item}"></td>
            <td th:text="${record.revenue}"></td>
            <td th:text="${record.cost}"></td>
            <td th:text="${record.cost}"></td>
        </tr>
       </table>
    </body>
</html>