<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">
    <head>
        
        <title>Sales</title>
        
    </head>
    <body>
       <h2>Sales Records</h2>
       <table border="solid" width="100%">
        <tr>
            <td>Item</td>
            <td>Revenue</td>
            <td>Cost</td>
            <td>Profit</td>
        </tr>
        <tr th:each="sale : ${sales}" >
            <td th:text="${sale.item}"></td>
            <td th:text="${#numbers.formatCurrency(sale.revenue)}"></td>
            <td th:text="${#numbers.formatCurrency(sale.cost)}"></td>
            <td th:text="${#numbers.formatCurrency(sale.revenue - sale.cost)}" th:style=" ${sale.revenue- sale.cost >= 0} ? 'background: green' : 'background: red'"></td>
        </tr>
       </table>
    </body>
</html>