<!DOCTYPE html>

<html xmlns:th="http://www.thymleaf.org">
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
    </head>
    <body>
        <div class="container">
            <h2>Javagram</h2>
            <form method="post">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Email">
                <p style="font-weight: bold;">Date of Birth</p>
                <input type="date" >
                <br><br>
                <input type="submit" placeholder="Last Name">
            </form>
        </div>
    </body>
</html>